body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #f4f4f4;
  color: #000;
}

header {
  background: white;
  text-align: center;
  padding: 20px;
  border-bottom: 3px solid black;
}

.author {
  color: gray;
  font-size: 14px;
}

section {
  padding: 20px;
}

.players {
  text-align: center;
}

.player {
  background: white;
  margin: 10px auto;
  padding: 10px;
  width: 90%;
  max-width: 400px;
  border-radius: 8px;
}

footer {
  background: black;
  color: white;
  text-align: center;
  padding: 10px;
}
